In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.linear_model import LinearRegression, Ridge , Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor , AdaBoostRegressor
from xgboost import XGBRegressor

In [3]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [7]:
df=pd.read_csv("data/StudentsPerformance.csv")

In [8]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [10]:
X=df.drop(columns="math score",axis=1)
y=df["math score"]

In [11]:
X

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [12]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [13]:
num_features=X.select_dtypes(exclude="object").columns
cat_features=X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("One Hot Encoder",oh_transformer,cat_features),
        ("Standard Scaler",numeric_transformer,num_features)
    ]
)

In [14]:
X=preprocessor.fit_transform(X)

In [15]:
X.shape

(1000, 19)

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [17]:
X_train.shape,y_train.shape

((800, 19), (800,))

In [21]:
def evaluate_model(true,predicted):
    mse=mean_squared_error(true,predicted)
    mae=mean_absolute_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mse,mae,r2_square

In [22]:
models={
    "Linear Regression":LinearRegression(),
    "Ridge Regression":Ridge(),
    "Lasso Regression":Lasso(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Xgboost":XGBRegressor(),
    "AdaBoost Regressor":AdaBoostRegressor()
}

model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    
    model_train_mse, model_train_mae, model_train_r2=evaluate_model(y_train,y_train_pred)
    
    model_test_mse, model_test_mae, model_test_r2=evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    
    model_list.append(list(models.keys())[i])
    
    print("Model Performance of Training set")
    print("Mean Absolute Error:",model_train_mae)
    print("Mean Squared Error:",model_train_mse)
    print("R2 Score:",model_train_r2)
    
    print("--------------------------------------------")
    
    print("Model Performance on Testing set")
    print("Mean Absolute Error:",model_test_mae)
    print("Mean Squared Error:",model_test_mse)
    print("R2 Score:",model_test_r2)
    r2_list.append(model_test_r2)
    
    print("="*35)

Linear Regression
Model Performance of Training set
Mean Absolute Error: 4.26708984375
Mean Squared Error: 28.34850036621094
R2 Score: 0.8742567465397689
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 4.2158203125
Mean Squared Error: 29.116678771972655
R2 Score: 0.8803449074540941
===================================
Ridge Regression
Model Performance of Training set
Mean Absolute Error: 4.264987823725981
Mean Squared Error: 28.33778823308244
R2 Score: 0.8743042615212909
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 4.211100688014261
Mean Squared Error: 29.056272192348306
R2 Score: 0.8805931485028737
===================================
Lasso Regression
Model Performance of Training set
Mean Absolute Error: 5.206302661246526
Mean Squared Error: 43.47840400585579
R2 Score: 0.8071462015863456
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 5.157881810347763
Mean Squared Error: 42.5064168384116
R2 Score: 0.8253197323627853
===================================
K-Neighbors Regressor
Model Performance of Training set
Mean Absolute Error: 4.516749999999999
Mean Squared Error: 32.57765
R2 Score: 0.8554978341651085
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 5.621
Mean Squared Error: 52.6066
R2 Score: 0.7838129945787431
===================================
Decision Tree
Model Performance of Training set
Mean Absolute Error: 0.01875
Mean Squared Error: 0.078125
R2 Score: 0.9996534669718089
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 6.4
Mean Squared Error: 64.07
R2 Score: 0.7367041124623159
===================================
Random Forest
Model Performance of Training set
Mean Absolute Error: 1.8307718750000004
Mean Squared Error: 5.246329051215278
R2 Score: 0.9767292634495393
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 4.7064916666666665
Mean Squared Error: 36.63594595833333
R2 Score: 0.8494444528346807
===================================
Xgboost
Model Performance of Training set
Mean Absolute Error: 0.6874666035175323
Mean Squared Error: 1.0146163961652577
R2 Score: 0.9954995444196413
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 5.057730598449707
Mean Squared Error: 41.90370826987466
R2 Score: 0.8277965653186071
===================================
AdaBoost Regressor
Model Performance of Training set
Mean Absolute Error: 4.741281871400637
Mean Squared Error: 33.76828301696591
R2 Score: 0.8502166352552392
--------------------------------------------
Model Performance on Testing set
Mean Absolute Error: 4.841123023466158
Mean Squared Error: 37.65887536682399
R2 Score: 0.8452407208774941
===================================

In [23]:
#Linear Regression

In [24]:
lin_model=LinearRegression()
lin_model.fit(X_train,y_train)
y_pred=lin_model.predict(X_test)
score=r2_score(y_test,y_pred)
print("Accuracy of the model is:",score)

Accuracy of the model is: 0.8803449074540941